@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,span,p,label {
    padding: 0 !important;
    margin: 0 !important;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 1rem;
    display: grid;
    
    gap: 5px;
    grid-auto-flow: row;
    justify-items: stretch;
    align-content: center;
    align-items: center;
    justify-self: center;
    
    overflow: auto;
    padding: 1rem;
}

.header {
    gap:5px;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
}

.page-link {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}
.page-link:hover {
    text-decoration: underline;
}

.bottom-buttons {
    gap: 5px;
    display: grid;
    grid-auto-flow: column;

    position: absolute;
    bottom: 10px;
    width: 100%;
    max-width: 500px;

    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
}

button{
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    height: 50px;
}