@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-0: #650808;
    --color-1: #d73535;
    --color-1-light: #fd3e3e;
    --color-2: #e49839;
    --color-3: #b6a434;
    --color-4: #4c5a23;
}

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    box-sizing: border-box;
}

slot {
    height: 100%;

    padding: 10px;
    padding-bottom: 85px;
}

.scale-animation{
    transform-style: ease;
    transition-duration: .3s;
}

.scale-animation:hover {
    transform: scale(1.02);
}
.scale-animation:active {
    transform: scale(0.98);
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1,h2,h3,h4,h5,h6,span,p,label {
    padding: 0 !important;
    margin: 0 !important;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    color: white;
    background-color: var(--color-0);
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 1rem;
    display: grid;
    
    gap: 5px;
    grid-auto-flow: row;
    justify-items: stretch;
    align-content: center;
    align-items: center;
    justify-self: center;
    
    overflow: auto;
    padding: 10px;
}

.header {
    gap:5px;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    text-align: center;
}

.page-link {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    text-align: end;
}
.page-link:hover {
    text-decoration: underline;
}

.bottom-buttons {
    gap: 5px;
    display: grid;
    grid-auto-flow: column;

    position: absolute;
    bottom: 10px;
    width: 100%;
    max-width: 500px;

    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
}

button{
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    height: 50px;
}

.primary {
    background-color: #4a6cf7;
    color: white;
}

.secondary {
    background-color: #f1f1f1;
    color: #333;
}